.container{
    padding: 5% 20% 5% 20%;
}

@media (max-width: 767px) {
    .container{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center !important;
        align-items: center !important;
        padding: 15%;
    }

}