.area{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    background: #0b4e6c;
    color: white;

}

.overview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.number{
    font-weight: 700;
    color: white;
}

.text{

}

.title{
    text-align: center;
    margin-bottom: 5%;
}

@media (max-width: 767px) {
    .area{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        background: #0b4e6c;
        color: white;
    }
    .overview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 2rem;
    }
}