:root{
  --firstColor: #0b4e6c;
  --secondColor: #f59e24;
  --thirdColor: #8490ff;
  --fourthColor: #222222;
  --fifthColor: #777777;
}

body {
  color: var(--fifthColor);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7em;
  position: relative;
  padding: 0;
  margin:0;

}

section{
  padding: 5% 15% 5% 15%;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Maven Pro", sans-serif;
  color: var(--fourthColor);
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

.h1, .h2, .h3,
.h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
  color: var(--fourthColor);
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
  color: var(--fourthColor);
}

blockquote{
  padding: 1rem 2rem 1rem 2.5rem;
  background: #fff;
  border-left: 2px solid var(--thirdColor);
  color: var(--secondColor);
  margin: 5% 0;
}

blockquote a{
  color: var(--secondColor) !important;
}

.explainProject{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 0;
}


.explainProject p{
  width: 100%;
  padding: 0 0 0 5%;
  text-align: justify;
}

@media (max-width: 1025px) {
  section {
    padding: 5% 0;
  }
}

@media (max-width: 767px){
  blockquote{
    padding: 1rem 1rem 1rem 2.5rem;
    background: #fff;
    border-left: 2px solid var(--thirdColor);
    color: var(--secondColor);
    margin: 10% 0;
  }

  .explainProject{
    flex-flow: column nowrap;
    margin: 10% 0;
  }

  .explainProject p{
    padding: 0;
  }
}